// font-family: 'Zen Kaku Gothic New', sans-serif;
// font-family: proxima-nova, sans-serif;

:root {
    --primary-color: #0A0A0A;
    --sub-color: #1A1A1A;
    --accent-color-1: #58FF95;
    --accent-color-2: #589BFF;
    --text-color: #ffff;
    --primary-font: 'proxima-nova', sans-serif;
    --jp-font: 'Zen Kaku Gothic New', sans-serif;
}

@media screen and (min-width: 465px) {
    body {
        font-size: 9px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 10px;
    }
}

@media screen and (min-width: 1028px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        font-size: 15px;
    }
}


body {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 100vh;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;

        h1 {
            font-size: 1.4em;
            color: var(--accent-color-1);
            font-weight: bold;
            font-family: var(--primary-font);
            font-weight: 700;
        }

        nav {
            width: 30%;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .date_head {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        li {
            svg {
                fill: white;
                width: 1em;
                height: auto;
            }
        }
    }
}

main {
    height: 90%;

    .top_wrapp {
        height: 50%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .about {

            background-color: var(--sub-color);
            border-radius: 20px;
            width: 55%;
            height: 100%;

            .name {
                font-family: proxima-nova, sans-serif;
                font-weight: 600;
                font-style: italic;
                font-size: 6em;
            }
        }

        .mydata_container {
            background-color: #8f4a4a;
            width: 50%;
            height: 100%;

            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 0.5fr 1.5fr;
            grid-template-rows: 1.7fr 0.3fr;
            gap: 0% 0%;
            grid-template-areas:
                "icon_qrcode profile"
                "contact contact";

            // grid要素
            .contact {
                grid-area: contact;
            }

            .profile {
                grid-area: profile;
            }

            .icon_qrcode {
                grid-area: icon_qrcode;
            }

            .icon_qrcode {
                // width: 10vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                .icon {
                    // width: 10vw;
                    // height: 50%;
                    // height: 10vw;
                    height: 50%;
                    background-color: var(--sub-color);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {

                        width: 95%;
                        // height: 100%;
                    }
                }

                .qrcode {
                    // width: 10vw;
                    height: 50%;
                    border-radius: 20px;
                    // background-color: var(--sub-color);
                    background-color: #131313;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 95%;
                        // height: 100%;
                    }
                }
            }

            .profile {
                background-color: var(--sub-color);
                // width: 30%;
                border-radius: 20px;
            }

            .contact {
                background-color: var(--sub-color);
                display: flex;
                align-items: center;
                border-radius: 20px;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }
    .under_wrapp{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}