:root {
  --primary-color: #0A0A0A;
  --sub-color: #1A1A1A;
  --accent-color-1: #58FF95;
  --accent-color-2: #589BFF;
  --text-color: #ffff;
  --primary-font: 'proxima-nova', sans-serif;
  --jp-font: 'Zen Kaku Gothic New', sans-serif;
}

@media screen and (min-width: 465px) {
  body {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 1028px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 15px;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 100vh;
}

header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

header .nav_block h1 {
  font-size: 1.4em;
  color: var(--accent-color-1);
  font-weight: bold;
  font-family: var(--primary-font);
  font-weight: 700;
}

header .nav_block nav {
  width: 30%;
}

header .nav_block nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .date_head {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .date_head li svg {
  fill: white;
  width: 1em;
  height: auto;
}

main {
  height: 90%;
}

main .top_wrapp {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .top_wrapp .about {
  background-color: var(--sub-color);
  border-radius: 20px;
  width: 55%;
  height: 100%;
}

main .top_wrapp .about .name {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 6em;
}

main .top_wrapp .mydata_container {
  background-color: #8f4a4a;
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.5fr 1.5fr;
      grid-template-columns: 0.5fr 1.5fr;
  -ms-grid-rows: 1.7fr 0.3fr;
      grid-template-rows: 1.7fr 0.3fr;
  gap: 0% 0%;
      grid-template-areas: "icon_qrcode profile" "contact contact";
}

main .top_wrapp .mydata_container .contact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contact;
}

main .top_wrapp .mydata_container .profile {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: profile;
}

main .top_wrapp .mydata_container .icon_qrcode {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon_qrcode;
}

main .top_wrapp .mydata_container .icon_qrcode {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .top_wrapp .mydata_container .icon_qrcode .icon {
  height: 50%;
  background-color: var(--sub-color);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top_wrapp .mydata_container .icon_qrcode .icon img {
  width: 95%;
}

main .top_wrapp .mydata_container .icon_qrcode .qrcode {
  height: 50%;
  border-radius: 20px;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top_wrapp .mydata_container .icon_qrcode .qrcode img {
  width: 95%;
}

main .top_wrapp .mydata_container .profile {
  background-color: var(--sub-color);
  border-radius: 20px;
}

main .top_wrapp .mydata_container .contact {
  background-color: var(--sub-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

main .top_wrapp .mydata_container .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */